<div class = "splash">
  <h1 class = "text-center ">Budget App</h1>
  <div class="text-center d-flex flex-column">
    <%= link_to 'Sign In', new_user_session_path,class:'btn btn-primary btn-lg spec'%>
    <%= link_to 'Sign Up', new_user_registration_path,class:'btn btn-primary btn-lg spec'%>
  </div>
</div>